{% load static %}
{% load subscription_tags %}

<!-- Navigation - Sticky Top -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="{% if user.is_authenticated %}container-fluid px-3{% else %}container{% endif %}">
        <a class="navbar-brand d-flex align-items-center{% if user.is_authenticated %} ms-0{% endif %}" href="{% url 'home' %}">
            <img src="{% static 'img/logo_white.png' %}" alt="Reflekt" height="28" class="me-2">Reflekt
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle me-1"></i>{{ user.first_name|default:user.email }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">
                            <i class="bi bi-person me-2"></i>Profile
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'features' %}">
                            <i class="bi bi-lightbulb me-2"></i>How It Works
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">
                            <i class="bi bi-box-arrow-right me-2"></i>Logout
                        </a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'features' %}">
                        <i class="bi bi-lightbulb me-1"></i>How It Works
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:pricing' %}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary ms-2" href="{% url 'accounts:pricing' %}">Sign Up</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
